@model GoldModel

<form class="form-control bg-dark text-white text-center row" asp-controller="Gold" asp-action="GetGoldPrice" method="post">
	<legend>
		<h2>Goldpreis</h2>
	</legend>
	<div class="col">
		<label class="form-label" for="txtGrams">Gramm:</label>
		@if (Model.Grams <= 0)
		{
			<input class="form-control" style="text-align:center;" type="text" id="txtGrams" name="Grams" placeholder="Gramm" autocomplete="off" />
		}
		@if (Model.Grams > 0)
		{
			<input class="form-control" style="text-align:center;" type="text" id="txtGrams" name="Grams" value="@Model.Grams" autocomplete="off" />
		}
	</div>

	<div class="mb-2">
		<label class="form-label" for="lblPrice">Preis:</label>
		<label class="form-label h3" id="lblPrice">@Model.Price €</label>
	</div>
	<div>
		<input class="btn btn-primary" type="submit" value="Preis abrufen" id="btnGetPrice" />
	</div>
</form>

